div >p::first-line{
    color: rgb(128, 0, 60);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.about::first-line{
    color: red;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}